<div class="row">
    <div class="col-12">
        <h1>Log in </h1>
    </div>
</div>



<div class="flex-container">

    <div class="block-container">
        <%= form_tag login_path do %>
        <h4>email: <%= text_field_tag :email %></h4>
        <h4>password: <%= password_field_tag :password %></h4>
        <%= submit_tag "Log in" %>
        <% end %>
    </div>

    <div>
        <h2>Don't have an account?</h2>
        <p><%= link_to "Sign up!", new_user_path,
            { :class=>"buttonlink" } %></p>
    </div>

<% flash.each do |name, messages| %>
    <div class="flash-warnings">
      <% messages.each do |message| %>
       <p><%= message %></p>
    <% end %>
    </div>
  <% end %>
</div>
