<div class="row">
    <div class="col-12">
        <h1>"<%= @review.title %>"</h1>
    </div>
</div>

<div class="flex-container">
    <div class="block-container">
    <div class="star-rating">
        <% if @review.rating != nil %>
            <% @review.rating.times do  %>
                <h4> &#9734; </h4> 
                <% end %>
        <% end %>
              
            </div>
    <p><%= @review.content %></p>

     <div class="edit-box">
    <% if @review.user_id == session[:user_id] %>
        <p><%= link_to "Edit this review", edit_review_path(@review) %></p>
    <% end %>
    </div>
    </div>

    <div class="grid-container">
    <p>reviewer name: <%= @review.event.user.name %></p>
   
    <p>Event: <strong><%= link_to @review.event.title, event_path(@review.event) %></strong></p>
    <p>Venue: <strong><%= link_to @review.event.venue.name, venue_path(@review.event.venue) %></strong></p>
    <p>Category: <strong><%= link_to @review.event.category.name, category_path(@review.event.category) %></strong></p>
    <p class="review-date">Review written on: <%= @review.created_at.strftime("%B %-d, %Y") %></p>

    
    </div>
</div>




   

